/*--scss:defaults --*/
$yellow:  #ffc627 !default;
$red:     #8c1d40 !default;
$orange:  #ff7f32 !default;
$blue:    #00a3e0 !default;
$green:   #78be20 !default;
$grey:    #747474 !default;
$primary:   $red !default; 
$navbar-light-hover-color:  $yellow !default;
$navbar-light-active-color:  $yellow !default;

$carousel-control-color:             $yellow;
$carousel-indicator-active-bg:       $yellow;

// Fonts

$font-size-base: 1.1rem !default;
$headings-color: $primary !default;

/*-- scss:rules --*/

