/* css styles */
:root {
  --bs-gold: #ffc627;
  --bs-maroon: #8c1d40;
  --bs-orange: #ff7f32;
  --bs-blue: #00a3e0;
  --bs-green: #78be20;
  --bs-grey: #747474;
  --bs-info: #00a3e0;
  --bs-danger: #8c1d40;
  --bs-warning: #ffc627;
  --bs-success: #78be20;
}

@media (min-width: 1000px){

body .page-columns {
    display: grid;
    gap: 0;
    grid-template-columns: [screen-start] 1.5em [screen-start-inset] 5fr [page-start page-start-inset] 35px [body-start-outset] 35px [body-start] 1.5em [body-content-start] minmax(0px, calc(1000px - 3em)) [body-content-end] 1.5em [body-end] 35px [body-end-outset] 35px [page-end-inset] minmax(75px, 145px) [page-end] 5fr [screen-end-inset] 1.5em [screen-end];
}
}

 /* Navbar */
.navbar {
  font-size: 1.1rem;
}

.navbar-brand > img {
  max-height: 36px;
}

 /* Typography */
h1 {
  text-align: center;
}

.lead {
  text-align: center;
}

.huge {
  font-size: 300%;
  display: block;
  text-align: center;
  font-weight: bold;
  padding-top: 10%;
  color: var(--bs-gold);
}


 /* Typography */
center {
  text-align: center;
}
